@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #424242;
  background-color: #fff;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

a {
  display: block;
}
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover, a:active {
  text-decoration: none;
  color: #ff00c3;
}

img {
  vertical-align: top;
}

.txt_hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}

.inner {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

/* header */
header {
  height: 150px;
  position: relative;
}
header h1 {
  width: 150px;
  margin: 30px auto 0;
}
header h1 a {
  background: url("../images/logo.png") no-repeat;
  background-size: 100%;
  height: 36px;
}
header nav {
  width: 800px;
  margin: 20px auto 0;
  font-weight: 100;
}

nav #gnb {
  width: 100%;
  height: 0px;
  background-color: #bbb;
  position: absolute;
  top: 50px;
  left: 0px;
}
nav #gnb > li {
  float: left;
  width: 18%;
  text-align: center;
  position: relative;
}
nav #gnb > li > a {
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}
nav #gnb .submenu {
  /* overflow: hidden; */
  width: 220px;
  position: absolute;
  top: 60px;
  left: -30px;
  display: none;
}
nav #gnb li:first-child .submenu {
  background-color: yellow;
}
nav #gnb .submenu li {
  float: left;
  margin-left: 20px;
}

#top_ico {
  position: absolute;
  right: 100px;
  top: 58px;
}
#top_ico li {
  float: left;
  border: 1px solid #ebebeb;
  width: 35px;
  margin-left: 15px;
  background: url("../images/ico_util.png") no-repeat;
  background-size: 100px;
  border-radius: 50%;
}
#top_ico li:hover {
  background-color: #ebc2de;
}
#top_ico li:first-child {
  margin-left: 0;
  background-position: -7px -55px;
}
#top_ico li:first-child:hover {
  background-position: -57px -55px;
}
#top_ico li:nth-child(2) {
  background-position: -8px -106px;
}
#top_ico li:nth-child(2):hover {
  background-position: -57px -106px;
}
#top_ico li:nth-child(3) {
  background-position: -8px -5px;
}
#top_ico li:nth-child(3):hover {
  background-position: -57px -5px;
}
#top_ico li a {
  height: 35px;
}

section#main_visual {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
section#main_visual .main_img {
  height: 720px;
  background: url("../images/main_img1.jpg") no-repeat center;
}
section#main_visual h3 {
  font-family: "Noto Serif KR", serif;
  font-size: 46px;
  font-weight: 400;
  color: #3e3d3d;
  position: absolute;
  left: 0;
  top: 180px;
}
section#main_visual p {
  position: absolute;
  left: 0;
  top: 400px;
  font-size: 20px;
}
section#cont1 {
  overflow: hidden;
}
section#cont1 h2 {
  text-align: center;
  font-family: "Noto Serif KR", serif;
  font-size: 30px;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 20px;
}
section#cont1 p {
  text-align: center;
}
section#cont1 .cont1_list {
  margin-top: 50px;
  overflow: hidden;
}
section#cont1 .cont1_list li {
  float: left;
  width: 360px;
  margin-left: 38px;
  cursor: pointer;
}
section#cont1 .cont1_list li:hover .cont_img {
  border: 5px solid #edc1df;
}
section#cont1 .cont1_list li:first-child {
  margin-left: 0;
}
section#cont1 .cont_img {
  height: 300px;
  position: relative;
  overflow: hidden;
}
section#cont1 .cont_img img {
  width: 100%;
  position: absolute;
  top: -60px;
  left: 0;
}
section#cont1 ul.cont1_list dl {
  margin-top: 40px;
  font-weight: 300;
}
section#cont1 ul.cont1_list dl dt {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 15px;
}
section#cont1 ul.cont1_list dl dd {
  font-size: 13px;
  font-weight: 100;
  height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* 라인수 */
  -webkit-box-orient: vertical;
}
section#cont1 .view_btn {
  clear: both;
  width: 170px;
  height: 50px;
  margin: 50px auto 0;
  background-color: #645246;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  font-size: 13px;
  font-weight: 300;
}
section#cont1 .view_btn:hover {
  background-color: #e3588f;
}
section#cont2 {
  background: url("../images/cont2_bg.jpg") no-repeat center;
  background-size: cover;
  cursor: pointer;
  margin-top: 80px;
}
section#cont2 div {
  height: 480px;
  padding-top: 150px;
}
section#cont2 h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-family: "Noto Serif KR", serif;
  font-weight: 500;
  line-height: 120%;
}
section#cont2 p {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
section#cont2 a {
  width: 65px;
  height: 65px;
  background-color: #645246;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: #fff;
  font-weight: 100;
}
section#cont2:hover a {
  background-color: #5e0052;
}
section#cont3 h2 {
  text-align: center;
  font-family: "Noto Serif KR", serif;
  font-size: 30px;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 20px;
}
section#cont3 p {
  text-align: center;
}
section#cont3 .cont3_list {
  overflow: hidden;
  margin-top: 80px;
}
section#cont3 .cont3_list li {
  float: left;
  width: 345px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
section#cont3 .cont3_list li:hover .cont_img {
  border: 5px solid #ffdef5;
}
section#cont3 .cont3_list li .cont_img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
section#cont3 .cont3_list li .cont_img img {
  width: 100%;
}
section#cont3 .cont3_list dl {
  width: 180px;
  margin: 30px auto 0;
  font-size: 13px;
  text-align: center;
  position: relative;
  height: 120px;
}
section#cont3 .cont3_list dt {
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
section#cont3 .cont3_list dd {
  font-weight: 300;
  font-size: 15px;
  line-height: 160%;
  position: absolute;
  top: 0;
  left: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* 라인수 */
  -webkit-box-orient: vertical;
}
section#cont4 {
  height: 1450px;
  background-color: #f5f5f5;
  margin-top: 100px;
  padding-top: 100px;
}
section#cont4 h2 {
  text-align: center;
  font-family: "Noto Serif KR", serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}
section#cont4 h2 + p {
  text-align: center;
  margin-bottom: 80px;
}
section#cont4 .cont4_img_list {
  position: relative;
}
section#cont4 .cont4_img_list .card {
  width: 370px;
  position: relative;
  cursor: pointer;
}
section#cont4 .cont4_img_list .c1 {
  height: 370px;
  background: url("../images/cont4_c1.jpg") no-repeat;
  background-size: 100% 100%;
}
section#cont4 .cont4_img_list .c2 {
  height: 370px;
  background: url("../images/cont4_c2.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 395px;
}
section#cont4 .cont4_img_list .c3 {
  height: 370px;
  background: url("../images/cont4_c3.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
}
section#cont4 .cont4_img_list .c4 {
  height: 370px;
  background: url("../images/cont4_c4.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 395px;
  left: 0px;
}
section#cont4 .cont4_img_list .c5 {
  height: 370px;
  background: url("../images/cont4_c5.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 395px;
  left: 395px;
}
section#cont4 .cont4_img_list .c5 p {
  margin-top: 30px;
}
section#cont4 .cont4_img_list .c7 p {
  margin-top: 30px;
}
section#cont4 .cont4_img_list .c5 span,
section#cont4 .cont4_img_list .c7 span {
  margin-top: 50px;
}
section#cont4 .cont4_img_list .c6 {
  height: 370px;
  background: url("../images/cont4_c6.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 395px;
  /* left: 0; */
  right: 0px;
}
section#cont4 .cont4_img_list .c7 {
  height: 370px;
  background: url("../images/cont4_c7.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 790px;
  left: 0px;
}
section#cont4 .cont4_img_list .c8 {
  height: 370px;
  background: url("../images/cont4_c8.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 790px;
  left: 395px;
}
section#cont4 .cont4_img_list .c9 {
  height: 370px;
  background: url("../images/cont4_c9.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 790px;
  right: 0;
}
section#cont4 .cont4_img_list .c2 h3,
section#cont4 .cont4_img_list .c3 h3,
section#cont4 .cont4_img_list .c4 h3,
section#cont4 .cont4_img_list .c6 h3,
section#cont4 .cont4_img_list .c8 h3,
section#cont4 .cont4_img_list .c9 h3 {
  line-height: 110%;
  font-size: 20px;
}
section#cont4 .cont4_img_list .card:hover .cover {
  display: block;
}
section#cont4 .cont4_img_list h3 {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 26px;
  font-weight: 400;
  z-index: 10;
}
section#cont4 .cont4_img_list p {
  position: absolute;
  top: 80px;
  left: 30px;
  font-size: 14px;
  font-weight: 300;
  z-index: 10;
}
section#cont4 .cont4_img_list span {
  position: absolute;
  top: 140px;
  left: 30px;
  font-size: 11px;
  font-weight: 300;
  z-index: 10;
}

/* section#main_visual .main_img_btn {
	width: 910px;
	position: absolute;
	bottom: 0;
	left: 125px;
}

section#main_visual .main_img_btn li {
	float: left;
	width: 20%;
	height: 70px;
	text-align: center;
	line-height: 70px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}

section#main_visual .main_img_btn li:first-child {
	background-color: #342b2a;
	line-height: 110%;
	padding-top: 20px;
}

section#main_visual .main_img_btn li:nth-child(2) {
	background-color: #e23b30;
	line-height: 110%;
	padding-top: 20px;
}

section#main_visual .main_img_btn li:nth-child(3) {
	background-color: #ffb60f;
}

section#main_visual .main_img_btn li:nth-child(4) {
	background-color: #afa345;
}

section#main_visual .main_img_btn li:nth-child(5) {
	background-color: #645246;
} */
/* cont1 */
/* section#cont1 ul.cont1_list dl dt span {
	display: block;
	font-size: 10px;
	color: #c0c0c0;
	margin-top: 5px;
} */
/* cont2 */
/* contents 3 */
/* section#cont3 {
} */
/* content4 */
.cover {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: rgba(255, 255, 255, 0.8); */
  display: none;
}
.cover a {
  width: 20px;
  height: 20px;
  background-color: #645246;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-align: center;
  line-height: 16px;
  color: rgb(255, 229, 163);
}

/* footer */
footer {
  border: 1px solid rgb(107, 107, 208);
  height: 220px;
  margin-top: 20px;
  background-color: #c99d9d;
  color: #fff;
  font-size: 13px;
}
footer img {
  width: 140px;
  position: absolute;
  top: 70px;
  left: 0;
}
footer img + p {
  position: absolute;
  top: 110px;
  left: 0;
}
footer address {
  position: absolute;
  top: 50px;
  right: 0;
  line-height: 250%;
}
footer address + p {
  position: absolute;
  top: 120px;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
